# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.env
.venv
venv/
ENV/

# Data and models (will be mounted as volumes)
data/.cache
data/processed/fineweb_edu

models/

# Jupyter Notebooks
.ipynb_checkpoints

# DVC
.dvc/cache
.dvc/tmp

# Docker
.docker/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
gpt-2.code-workspace

# Logs
logs/
*.log

# Codestyle
.ruff_cache
